In [1]:
#WHILE LOOP

In [3]:
i=1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [6]:
i=1
while i<100:
    if i%2==0:
        print("num is even",i)
    i=i+1

num is even 2
num is even 4
num is even 6
num is even 8
num is even 10
num is even 12
num is even 14
num is even 16
num is even 18
num is even 20
num is even 22
num is even 24
num is even 26
num is even 28
num is even 30
num is even 32
num is even 34
num is even 36
num is even 38
num is even 40
num is even 42
num is even 44
num is even 46
num is even 48
num is even 50
num is even 52
num is even 54
num is even 56
num is even 58
num is even 60
num is even 62
num is even 64
num is even 66
num is even 68
num is even 70
num is even 72
num is even 74
num is even 76
num is even 78
num is even 80
num is even 82
num is even 84
num is even 86
num is even 88
num is even 90
num is even 92
num is even 94
num is even 96
num is even 98

In [7]:
#break exits the loop

In [9]:
for i in range(1,10):
    print(i)
    if i==5:
        break

1
2
3
4
5

In [10]:
# continue skips current iteration loop

In [24]:
for i in range(1,10):
    print(i)
    if i==5:
        continue
    print("observe")

1
observe
2
observe
3
observe
4
observe
5
6
observe
7
observe
8
observe
9
observe

In [25]:
#PASS it does nothing and is used as a place holder

In [34]:
i=1
for i in range(1,100):
    pass

In [51]:
#FILE HANDLING

In [52]:
file=open("vinay.txt","w")
file.write("iam from nzb")
file.close()

In [53]:
file= open("vinay.txt","r")
fileData=file.read()
print(fileData)
file.close()

iam from nzb

In [54]:
#APPEND

In [55]:
file=open("vinay.txt","a")
file.write("\nh.no 5-3")
file.close()

In [56]:
fileData

'iam from nzb'

In [57]:
file= open("vinay.txt","r")
fileData=file.read()
print(fileData)
file.close()

iam from nzb
h.no 5-3

In [62]:
#ARM STRONG NUMBER BETWEEN 1042000 TO 702648265

In [12]:
for i in range(1,1000):
    temp=i
    sum=0
    while temp>0:
        n=temp%10
        sum+=n**3
        temp//=10
    if i==sum:
        print("1st armstrong no is",i)
        break

1st armstrong no is 1

In [14]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
 
for num in range(lower,upper + 1):
   # initialize sum
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** 3
       temp //= 10
 
   if num == sum:
        print(num)
        break

Enter lower range: 4
Enter upper range: 4000
153